body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}
#footer
{
	margin-top: 40px;
	padding-top: 15px;
	font-size: 0.8em;
	text-align: right;
	border-top: 1px solid #C9E0ED;
}
